<!DOCTYPE html>
<html>
  <head>
    <title>I/ ROUTE</title>
    <style>
      @font-face {
        font-family: VCROSDMono;
        src: url(/static/VCROSDMono.ttf);
      }
      
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        background-color: #252729;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        cursor: crosshair;
        font-family: 'VCROSDMono';
	      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      .resultados{
        position: absolute;
        top: 100px;
        left: 30px;
        height: 400px;
        width: 300px;
        background-color: #252729;
        color: white;
        white-space: pre-wrap;
        text-align: left;
      }

      .flex-container {
        position: relative;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
      }

      .flex-container > div {
        opacity: 1;
        background-color: #252729;
        margin: 0px;
        width: 100%;
        height: auto;
        font-size: 30px;
        color: white;
      }

      #cursor-text {
        position: absolute;
        display: none;
        color: white;
        border-radius: 5px;
        background-color: gray;
        margin-top: -30px;
        opacity: 0.6; 
        padding: 10px;
        pointer-events: none;
        transform: translate(-50%, -100%);
        z-index: 2;
      }

      body::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="cursor-text">SELECIONE UM PONTO DE ORIGEM</div>
    <div class="flex-container">
      <div>
        <img id="mapa" style="width: 832px; height: auto;" src="/static/map.jpg">
        <form action="/" method="post" name="form1">
          <input type="hidden" id="origem" value="" name="origen">
          <input type="hidden" id="destino" value="" name="destinon">
          
        </form>
      </div>
    </div>
    <div class="resultados">{{ resultado }}</div>
    <script>
      const destino = document.getElementById("destino")
      destino.addEventListener('input',function(){

        if(destino.value !="" && destino.value != document.getElementById("origem").value)
        {
          
        }
      })
       // 
      const cursorText = document.getElementById('cursor-text');
      document.addEventListener('mousemove', (e) => {
        const x = e.clientX;
        const y = e.clientY;
        cursorText.style.display = 'block';
        cursorText.style.left = `${x}px`;
        cursorText.style.top = `${y}px`;
      });

      document.addEventListener('mouseout', () => {
        cursorText.style.display = 'none';
      });
    
      document.getElementById('mapa').addEventListener('click', (e) => {
          const x = e.offsetX;
          const y = e.offsetY;
          
          if(x >= 24 && x <= 818 && y >= 61 && y <= 95){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Avenida 1');
            console.log(document.getElementById("origem").value)
            console.log(document.getElementById("destino").value)
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "avenidaA"
              document.getElementById("destino").value = "avenidaA"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
              console.log(document.getElementById("origem").value)
            }
            if(document.getElementById("destino").value==document.getElementById("origem").value && document.getElementById("destino").value != "")
            {
              document.getElementById("destino").value = "avenidaA"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value
              
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
             
          }

          if(x >= 210 && x <= 250 && y >= 104 && y <= 443){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Rua 5');
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "rua5"
              document.getElementById("destino").value = "rua5"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value==document.getElementById("origem").value && document.getElementById("destino").value != "")
            {
              document.getElementById("destino").value = "rua5"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }

          if(x >= 23 && x <= 206 && y >= 294 && y <= 333){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Rua 2');
            console.log(document.getElementById("origem").value)
            console.log(document.getElementById("destino").value)
             if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "rua2"
              document.getElementById("destino").value = "rua2"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value==document.getElementById("origem").value && document.getElementById("destino").value != "")
            {
              document.getElementById("destino").value = "rua2"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
            
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }

          if(x >= 21 && x <= 817 && y >= 452 && y <= 483){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Avenida B');
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "avenidaB"
              document.getElementById("destino").value = "avenidaB"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value==document.getElementById("origem").value && document.getElementById("destino").value != "")
            {
              document.getElementById("destino").value = "avenidaB"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
            
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }

          if(x >= 352 && x <= 393 && y >= 105 && y <= 444){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Rua 7');
            console.log(document.getElementById("origem").value)
            console.log(document.getElementById("destino").value)
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "rua7"
              document.getElementById("destino").value = "rua7"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value==document.getElementById("origem").value && document.getElementById("destino").value != "")
            {
              document.getElementById("destino").value = "rua7"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }

          if(x >= 400 && x <= 726 && y >= 293 && y <= 320){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Rua 4');
            console.log(document.getElementById("origem").value)
            console.log(document.getElementById("destino").value)
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "rua4"
              document.getElementById("destino").value = "rua4"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value==document.getElementById("origem").value && document.getElementById("destino").value != "")
            {
              document.getElementById("destino").value = "rua4"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }

          if(x >= 551 && x <= 584 && y >= 106 && y <= 284){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Rua 8');
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "rua8"
              document.getElementById("destino").value = "rua8"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value==document.getElementById("origem").value && document.getElementById("destino").value != "")
            {
              document.getElementById("destino").value = "rua8"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value
              
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }
          else if(x >= 556 && x <= 588 && y >= 330 && y <= 445){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Rua 8');
            console.log(document.getElementById("origem").value)
            console.log(document.getElementById("destino").value)
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("destino").value = "rua8"
              document.getElementById("origem").value = "rua8"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value==document.getElementById("origem").value && document.getElementById("destino").value != "")
            {
              document.getElementById("destino").value = "rua8"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }

          if(x >= 623 && x <= 659 && y >= 490 && y <= 584){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Rua 11');
            console.log(document.getElementById("origem").value)
            console.log(document.getElementById("destino").value)
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "rua11"
              document.getElementById("destino").value = "rua11"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value
               
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=document.getElementById("origem").value && document.getElementById("destino").value == "")
            {
              
           
              document.getElementById("destino").value = "rua11"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }
          console.log(`Coordenadas: (${x}, ${y})`  );

          if(x >= 741 && x <= 775 && y >= 104 && y <= 440){
            console.log(`Coordenadas: (${x}, ${y})`  + '\nInicial: Rua 13');
            console.log(document.getElementById("origem").value)
            console.log(document.getElementById("destino").value)
            if(document.getElementById("origem").value=="")
            {
              document.getElementById("origem").value = "rua13"
              document.getElementById("destino").value = "rua13"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=document.getElementById("origem").value && document.getElementById("destino").value == "")
            {
              document.getElementById("destino").value = "rua13"
              var origem  = document.getElementById("origem").value
              var destino =  document.getElementById("destino").value 
              
              document.getElementById('cursor-text').innerHTML = "ORIGEM:"+origem+"\n DESTINO:"
            }
            if(document.getElementById("destino").value!=""&& document.getElementById("destino").value!= document.getElementById("origem").value)
            {
              document.forms["form1"].submit()
            }
          }
        });
    </script>
  </body>
</html>
